* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .top-navigator {
    height: 150px;
    transform: translate(0,75%);
   
  }
  
  .link{
      font-family: 'Courier New', Courier, monospace;
      font-size: 150%;
      text-align: right;
      margin-right: 11%;
      color:rgb(0, 0, 0);
      text-decoration: none;
      
     
      
     
  }

  a:link {
      color:rgb(0, 0, 0)
     
  }

 

  .left-panel {
    margin-left:20px;
   
 
    height: calc(100vh - 100px);
    width: 20%;
    float: left;
   
  

  }
  .logo1 {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      .logo2 {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        transform: translate(0,-100%);
        opacity:0;
        transition-duration: 0.2s;
        transition: all 0.2s linear;

        
      }

      .logo2:hover{
        opacity:1;
      }

  .hi{
        margin-left: 30%;
        margin-right: 10%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 150%;
        text-align: left;
        
        display:absolute;
        transform: translate(0,-200%);

  }

  
  
  
  .right-panel {
   
    height: calc(100vh - 100px);
    width: 74%;
    float: right;
    
    padding: 20px;
  }
  
  
  

  .image1 {
  
    width: 300px;
    height: 200px;
    display: inline-block;
    background-image:url("./assets/triss\ daily.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    position:relative;
    

    
  }
  


  div.mask{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily1 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }



  .mask:hover>a#trissdaily1{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;

    
    
    
  }

 
  
 
  

  

    

   


  

 

  

 




  

 
 
  
  .image2 {
    width: 300px;
    height: 200px;
    display: inline-block;
    
    background-image:url("./assets/woodstock.jpg");
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
  }


  div.mask2{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily2 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }



  .mask2:hover>a#trissdaily2{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;

    
    
    
  }

  .image3 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/cross.jpeg");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask3{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily3 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }



  .mask3:hover>a#trissdaily3{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }


  .image4 {
    width: 300px;
    height: 200px;
    display: inline-block;
    
    background-image:url("./assets/small\ size\ -\ Copy.jpg");
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  div.mask4{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily4 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }



  .mask4:hover>a#trissdaily4{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image5 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/Lantern.png");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask5{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily5 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask5:hover>a#trissdaily5{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image6 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    background-image:url("./assets/cover-turkey.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask6{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily6 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask6:hover>a#trissdaily6{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }
 
  .image7 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/butshe1.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask7{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily7 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask7:hover>a#trissdaily7{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image8 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/burger1.jpg");
    background-size: cover;
    background-position: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask8{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily8 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask8:hover>a#trissdaily8{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

 

  .image9 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/fakenews1.png");
    background-size: 128%;
    background-position: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask9{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily9 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask9:hover>a#trissdaily9{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image10 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/window\ animation.png");
    background-size: 101%;
    background-position: top;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask10{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily10 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask10:hover>a#trissdaily10{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image11 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/350\ org.png");
    background-size: 101%;
    background-position: top;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask11{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily11 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask11:hover>a#trissdaily11{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image12 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/vote.JPG");
    background-size: 125%;
    background-position: top;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.mask12{
    width:300px;
    height:200px;
    background-color:rgba(0, 0, 0, 0);
    position:absolute;
    text-align:center;
    line-height:200px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255,0);
    font-size: 200%;
    display:block;
    transition-duration: 1s;
    transition: all 1s linear;
    
  }

  a#trissdaily12 {
    color:rgb(255, 255, 255,0);
    background-color:rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition: all 0s linear;
   
    
  }

  .mask12:hover>a#trissdaily12{
    display:block;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255,1);
    transition: all 0.5s linear;
  }

  .image13 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    
    background-image:url("./assets/installation.png");
    background-size: 120%;
    background-position: top;
    margin-right: 20px;
    margin-bottom: 20px;
    
  }

  .image14 {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
    background-image:url("./assets/babe2.jpg");
    background-size: 100%;
    background-position: center;
    
    margin-right: 20px;
    margin-bottom: 20px;
    
  }

  
  







    

